#title {
    display: block;
    padding-left: 2%;
    color: white;
    font-size: 60pt;
    border-bottom: 3px solid black;
    border-radius: 0px;
}

.notification {
    display: block;
}

.photo {
    width: 50px;
}