@media (orientation: portrait) {
    p, h1 {
        line-height: 60%;
    }
    
    a[href=Settings\.html] {
        position: absolute;
        top: 15%;
        left: 90%;
        width: 7%;
        height: 13%;
        background-color: white;
        border-radius: 50px;
        padding: 1%;
    }
    
    a[href=Settings\.html] img {
        margin: 0;
        width: 100%;
    }

    .badgeContainer {
        top: 0;
        position: fixed;
        background-color: #333333;
        width: 100%;
        height: 25vh;
    }

    .badge {
        font-size: 30pt;
        background-color: #FAE54E;
        margin: 3% 3% 1%;
        border-radius: 30px;
        padding-bottom: 1%;
    }

    .badge img {
        margin: 1%;
        width: 33%;
        border-radius: 30px;
        float: left;
    }

    .badge a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .badge a label {
        font-weight: normal;
    }

    .dati {
        float: left;
        width: 65%;
    }
    
    .link {
        display: block;
        clear: both;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .placeholder {
        top: 0;
        width: 100%;
        height: 25vh;
    }

    .obiettivo {
        margin: 2% 3% 1%;
        background-color: #FA981D;
        border-radius: 30px;
        padding: 3%;
    }

    .obiettivo h1 {
        text-transform: uppercase;
        float: left;
        padding-right: 5%;
        font-weight: bold;
        font-size: 300%;
    }

    .obiettivo p {
        font-size: 120%;
    }
}