.post{
	background-color: white;
	margin: 5%;
	border-radius: 20px;
}

.post header{
	background-color: #fa981d;
	border-radius: 20px 20px 0px 0px;
	height: 10%;
}

/*.container{
	display: grid;
	grid-template-columns: 10% 90%;
	gap: 5%;
	align-content: center;
	justify-content: start;
}*/

.profile-pic{
	height: 30px;
	margin: 5px;
	border-radius: 100px;
	border: 1px solid black;
}

.name{
	font-weight: bold;
	display: inline;
	padding: 10px;
}

.post section{
	height: 600px;
	overflow: auto;
}

.comment{
	padding: 5px 20px;
	margin: 2%;
}

.training-plan{
	background-color: #ffe694;
	margin: 2%;
	padding: 20px;
	border-radius: 20px;
}

.photo-container{
	margin: 2%;
	/*display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-evenly;
	align-content: center;
	gap: 5px;*/
}

.photo{
	height: 110px;
	border-radius: 15px;
	margin: 1%;
}

.weight{
	padding: 5px 20px;
	margin: 2%;
}

.post footer{
	background-color: #fa981d;
	border-radius: 0px 0px 20px 20px;
	height: 10%;
}

.txt-comment{
	margin: 5%;
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid transparent;
}

.comment-section{
	display: none;
}