img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 120px;
    max-width: 400px;
}

input, button {
    box-shadow: rgba(0,0,0,0.3) 10px 10px 10px;
}

input[type=text], input[type=password] {
    width: 50%;
    max-width: 500px;
}

input[type=submit], button {
    font-weight: bold;
    padding: 1.5% 10%;
}

@media (orientation: portrait) {
    img {
        margin-top: 10%;
        width: 35%;
        height: 35%;
    }

    form fieldset {
        margin-top: 15%;
    }

    label, input {
        font-size: 30pt;
    }

    input {
        padding-left: 20px;
    }

    button, input[type=submit] {
        font-size: 55pt;
    }

    input[type=submit] {
        margin-top: 25%;
        margin-bottom: 5%;
    }
}

@media (orientation: landscape) {
    img {
        width: 12%;
    }

    label, input {
        font-size: 30pt;
    }

    input {
        padding-left: 20px;
    }

    button, input[type=submit] {
        font-size: 45pt;
        padding: 1% 4%;
    }
}