#form {
    padding-left: 4%;
}

#altezza {
    float: left;
    width: 26%;
    margin-right: 4%;
}

#peso {
    float: left;
    width: 70%;
}

input[type=email] {
    width: 50%;
    max-width: 500px;
}

input[name=altezza] {
    width: 50%;
    max-width: 100px;
}

input[name=peso] {
    width: 20%;
    max-width: 100px;
}

a[href=Login\.html] {
    color: black;
}

input[type=submit] {
    margin-top: 2%;
}