#altezza {
    float: left;
}

#peso {
    float: left;
}

input[name=altezza] {
    max-width: 30%;
}

@media (orientation: portrait) {
    #form {
        padding-left: 4%;
    }
    
    #altezza {
        max-width: 28%;
    }
    
    #peso {
        width: 70%;
    }

    input[name=peso] {
        max-width: 15%;
    }
}

@media (orientation: landscape) {
    img {
        max-width: 12%;
        max-height: 12%;
        margin-top: 1%;
    }

    #form {
        padding-left: 4%;
    }

    #altezza {
        max-width: 25%;
    }
    
    #peso {
        width: 70%;
    }

    input[name=peso] {
        max-width: 10%;
    }
}